footer {
  background-color: #EBEBE6;
  padding-bottom: 50px;
  position: relative;
}
footer .wrap {
  max-width: 1760px;
  box-sizing: border-box;
}
 footer .wrap h1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .wrap ul{
  display: flex;
  margin-bottom: 20px;
}
footer .wrap ul li{  
  margin-right: 20px;
}
footer .wrap .capy{
  font-size: 14px;
  color: #888;
}
footer .wrap .icon{   
  font-size: 0;
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -142px;
  right: 101px;
}
footer .wrap .icon::before{
  content: "";  
  background-color: #144835;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 49.062 48.186'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='square_29' data-name='square 29' width='49.062' height='48.186' transform='translate(0 0)' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='sns' transform='translate(-57.001 -1514)'%3E%3Cg id='Instagram_svg' data-name='Instagram svg' transform='translate(57.001 1514)' clip-path='url(%23clip-path)'%3E%3Cpath id='path_29' data-name='path 29' d='M14.411.173A17.942,17.942,0,0,0,8.444,1.328,12.038,12.038,0,0,0,4.092,4.173a12.049,12.049,0,0,0-2.829,4.36A18.073,18.073,0,0,0,.131,14.506C.016,17.125-.01,17.967,0,24.647s.042,7.517.169,10.141a17.981,17.981,0,0,0,1.155,5.967,12.05,12.05,0,0,0,2.845,4.351,12.038,12.038,0,0,0,4.363,2.829,18.058,18.058,0,0,0,5.972,1.132c2.618.115,3.461.141,10.139.128s7.519-.042,10.142-.167a18,18,0,0,0,5.965-1.155,12.572,12.572,0,0,0,7.179-7.208,17.993,17.993,0,0,0,1.132-5.97c.115-2.626.142-3.464.129-10.143s-.043-7.516-.167-10.14a17.966,17.966,0,0,0-1.155-5.969,12.076,12.076,0,0,0-2.845-4.351,12,12,0,0,0-4.362-2.828A18,18,0,0,0,34.693.133C32.074.02,31.232-.009,24.551,0S17.034.045,14.411.173ZM14.7,44.641A13.651,13.651,0,0,1,10.13,43.8,7.659,7.659,0,0,1,7.3,41.97a7.577,7.577,0,0,1-1.845-2.825A13.623,13.623,0,0,1,4.6,34.578c-.122-2.592-.148-3.37-.162-9.938S4.446,17.3,4.56,14.7A13.613,13.613,0,0,1,5.4,10.135,7.617,7.617,0,0,1,7.231,7.3a7.593,7.593,0,0,1,2.825-1.845A13.621,13.621,0,0,1,14.621,4.6c2.594-.123,3.371-.148,9.938-.162s7.346.01,9.941.124a13.6,13.6,0,0,1,4.567.836A7.607,7.607,0,0,1,41.9,7.236a7.591,7.591,0,0,1,1.846,2.826,13.552,13.552,0,0,1,.855,4.564c.123,2.594.152,3.372.163,9.938s-.011,7.346-.125,9.938a13.668,13.668,0,0,1-.836,4.57,8.147,8.147,0,0,1-4.661,4.677,13.625,13.625,0,0,1-4.564.856c-2.594.122-3.371.148-9.94.162s-7.344-.012-9.938-.124M34.751,11.452a2.952,2.952,0,1,0,.861-2.088A2.952,2.952,0,0,0,34.751,11.452ZM11.968,24.624A12.631,12.631,0,1,0,24.574,11.968,12.63,12.63,0,0,0,11.968,24.624Zm4.431-.009a8.2,8.2,0,1,1,.63,3.137A8.2,8.2,0,0,1,16.4,24.615Z' transform='translate(-0.352 -0.229)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
